<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

<!-- 
    [ngClass]="{ 'class-name': condition }"
-->
<div class="face-snap-card" [ngClass]="{snapped: buttonTest === 'Unlike'}">
    <h1>{{likes.title | titlecase}}</h1>
    <p>Mise en ligne le {{ likes.createDate}}</p>
    <!--[src] permet de lie inageUrl meme si elle n'est pas un string 
    comme on a declarer dans le navigation.component.ts
    -->
    <img [src]="likes.imageUrl" [alt]="likes.title">
    <!-- <img src="{{imageUrl}}" alt="{{title}}"> -->
    <p *ngIf="likes.location === 'New York' ">Photo prise a {{likes.location}}</p>
    <P>{{likes.description}}</P>
    <p>
        <!-- le nom des evenements se met entre parenthes-->
        <button (click)="onLike()">{{buttonTest}}</button>
        <span [ngStyle]="{color: 'rgb(0,'+ likes.like*30 +',0)'}">🤌 {{likes.like}}</span>
    </p>
</div>