<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

<!-- 
    [ngClass]="{ 'class-name': condition }"
    les pipe : permet de faire du formatage de text dates etc...
      -> lowercase | uppercase | titlecase | json | date | DecimaPipe | PercentPipe | CurencyPipe 
            NB: pour ajout une configuration a une pipe on ajout : ' '
      exemple : ' likes.createDate | date: "dd/MM/yyyy"'
-->
<div class="face-snap-card" [ngClass]="{snapped: buttonTest === 'Unlike'}">
    <!-- <p>{{3455677.45 | number}}</p>
    <p>{{ 0.46 | percent}}</p>
    <p>{{ 344.46 | currency: 'EUR'}}</p>
    [src] permet de lie inageUrl meme si elle n'est pas un string 
    comme on a declarer dans le navigation.component.ts
-->


    <div *ngFor="let posts of post ">
        <h1>{{posts.title | titlecase}}</h1>
        <img [src]="likes.imageUrl" [alt]="likes.title">
        <p>Mise en ligne le {{ likes.createDate | date: 'le d MMMM yyyy'}}</p>
        <p *ngIf="likes.location === 'New York' ">Photo prise a {{likes.location}}</p>
        <P>{{posts.content}}</P>

        <p>
            <!-- {{likes.post}} -->
            <!-- le nom des evenements se met entre parenthes-->
            <button (click)="onLike()">{{buttonTest}}<span [ngStyle]="{color: 'rgb(0,'+ likes.like*30 +',0)'}">👍
                    {{likes.like}}</span></button>
            <button (click)="onLike()">{{!buttonTest}}<span [ngStyle]="{color: 'rgb(0,'+ likes.like*30 +',0)'}">👎
                    {{likes.like}}</span></button>
        </p>
    </div>


</div>